*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'outfit';
}
body{
    background-color:  hsl(212, 45%, 89%);
    color: #000;
}
#header {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.container{
    width: 18%;
    height: 58vh;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px; 
}
.container img{
    width: 88%;
    height: 32vh; 
    padding-left: 2px;
    margin-top: 20px;
    border-radius: 12px;  
}
.container h1{
    padding-top: 30px;
    font-size: 26px;
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}
.container p{
    padding-top: 25px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

@media screen and (max-width: 1440px) {
    #header {
        padding-top: 150px;
    }
    .container{
        width: 28%;
        height: 57vh;
        
        border-radius: 15px;
    }
    .container h1{
        font-size: 32px;
        font-weight: 700;
    }
    .container p{
        font-size: 20px;
        font-weight: 400;
    }
    
}
@media screen and (max-width: 375px) {
    #header {
        padding-top: 100px;
    }
    .container{
        width: 78%;
        height: 60vh;
        
        border-radius: 15px;
    }
    @media screen and (max-width: 375px) {
        #header {
            padding-top: 100px;
        }
        .container{
            width: 78%;
            height: 60vh;
            
            border-radius: 15px;
        }
        .container h1{
            font-size: 22px;
            font-weight: 700;
        }
        .container p{
            font-size: 15px;
            font-weight: 400;
        }
        
    }
    
}