@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color:  hsl(212, 45%, 89%);
    color: #000;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    
}
main{
    max-width: 16%;
    max-height: 100vh;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

img {
    display: block;
    object-fit: cover;
    max-width: 100%;
    border-radius: 10px;
}
h1{
    padding-top: 30px;
    font-size: 22px;
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}
p{
    padding-top: 25px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

@media screen and (max-width: 1440px) {
    
    body{
        padding-top: 260px;
        
    }
    main{
        max-width: 24%;
        max-height: 100vh;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
    }
    
    img {
        display: block;
        object-fit: cover;
        max-width: 100%;
        border-radius: 10px;
    }
    h1{
        font-size: 25px;
        font-weight: 700;
    }
    p{
        font-size: 18px;
        font-weight: 400;
    }
    
}

@media screen and (max-width: 375px) {
    body{
        font-size: 12px;
        padding-top: 150px;    
    }
    main{
        max-width: 86%;
        max-height: 100%;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
    }
    img {
        display: block;
        object-fit: cover;
        max-width: 100%;
        border-radius: 10px;
    }    
    h1{
            font-size: 22px;
            font-weight: 700;
        }
        p{
            font-size: 14px;
            font-weight: 400;
        }
        
    }
    
